<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="container">
      <div class="inner cover">
        <div class="row">
          <div class="col text-center my-auto mx-auto">
            <%=link_to image_tag("https://image.ibb.co/fUjBmR/brewdoGG.png"), class: 'img-responsive'%>
            <p class="lead">You <strong>do</strong> what you <strong>do</strong> with Brew<strong>Do</strong></p>
          <%= link_to 'Learn More', root_path, class: 'btn learn-button', style: 'background-color: #5D6F73; color: #BDB6A4;'%><br><br>
          <%= link_to 'Log In', brewmaster_new_path, class: 'btn learn-button', style: 'background-color: #5D6F73; color: #BDB6A4;' %>
        </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

