  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <a class="display-2 mx-auto text-center" href="/"><img src="https://image.ibb.co/fUjBmR/brewdoGG.png" class="img-responsive" alt="BrewDo" ></a>
      <p class="lead">You <strong>do</strong> what you <strong>do</strong> with Brew<strong>Do</strong></p>
    </div>
  </div>
  <%= render partial: 'home/login'%>

<%# <%=render partial: 'home/chart'%>
