<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="container">
      <div class="inner cover">
        <div class="row">
          <div class="col text-center my-auto mx-auto">
          <!-- Button trigger modal -->
            <%=link_to image_tag("https://image.ibb.co/fUjBmR/brewdoGG.png"), class: 'img-responsive'%>
            <p class="lead">You <strong>do</strong> what you <strong>do</strong> with Brew<strong>Do</strong></p>
            <%= link_to 'Learn More', about_path, class: 'btn learn-button', style: 'background-color: #5D6F73; color: #BDB6A4;'%><br><br>
             <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style='background-color: #5D6F73; color: #BDB6A4;' >
              Log In
            </button><br><br>
            <%= link_to 'Create An Account', brewmaster_new_path, class: 'btn learn-button', style: 'background-color: #5D6F73; color: #BDB6A4;' %>
          <!-- Modal -->

            <%= render partial: 'login'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

