<footer class="bd-footer text-muted footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
         <%=link_to image_tag("https://image.ibb.co/bYRqJ6/team.png"), root_path, alt: 'brewlight'%>
      </div>
    </div>
  </div>
  
</footer>